<!DOCTYPE html>
<html lang="zh-CN">
<!-- BEGIN HEAD -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>QrF | 首页</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- CORE CSS-->
    <link href="../../content/css/materialize.min.css" rel="stylesheet" />
    <link href="../../content/css/style.min.css" rel="stylesheet" />

    <link href="../../content/css/customer.css" rel="stylesheet" />
    <!-- INCLUDED LIB CSS ON PAGE -->
    <link href="../../content/js/lib/sweetalert/sweetalert.css" rel="stylesheet" />
</head>
<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <!-- start header nav-->
                <div class="side-nav fixed">
                    <nav class="navbar-color">
                        <div class="nav-wrapper nav-small">
                            <h1 class="logo-wrapper"><a href="index.html" class="brand-logo darken-1"><img src="/content/images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1>
                        </div>
                    </nav>
                </div>
                <!-- end header nav-->
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <i class="mdi-action-account-circle medium"></i>
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li>
                                        <a href="#"><i class="mdi-action-face-unlock"></i> 信息</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-action-settings"></i> 设置</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="/login/logout"><i class="mdi-hardware-keyboard-tab"></i> 注销</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn user-name" href="#" data-activates="profile-dropdown"><i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">系统管理员</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold active">
                        <a href="/" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> 首页</a>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- START CONTENT -->
            <section id="content">
                <!--breadcrumbs start-->
                <div id="breadcrumbs-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <h5 class="breadcrumbs-title">首页</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs end-->
                <!--start container-->
                <div class="container">
                    <div class="section">
                        <p class="caption">快捷入口</p>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col s12 m12 l12">

                            </div>
                        </div>
                        <p class="caption">待办事项</p>
                        <div class="divider"></div>
                        <div class="row">
                            <div class="col s12 m12 l12">

                            </div>
                        </div>
                    </div>
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!--[if lt IE 9]>
    <script src="../../content/js/lib/respond.min.js"></script>
    <script src="../../content/js/lib/excanvas.js"></script>
        <![endif]-->
    <script src="../../content/js/lib/sea.js"></script>
    <script src="../../content/js/common.js"></script>
    <script>
        seajs.use('js/app/index.js');
    </script>
</body>
</html>
