<!DOCTYPE html>
<html lang="zh-CN">
<!-- BEGIN HEAD -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>QeF | 首页</title>
    <!-- Favicons-->
    <link rel="shortcut icon" href="favicon.ico" />
    <!-- CORE CSS-->
    <link href="../../content/css/materialize.min.css" rel="stylesheet" />
    <link href="../../content/css/style.min.css" rel="stylesheet" />

    <link href="../../content/css/customer.css" rel="stylesheet" />
    <!-- INCLUDED LIB CSS ON PAGE -->
    <link href="../../content/js/lib/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="../../content/js/lib/bootstrap-table/bootstrap-table.min.css" rel="stylesheet" />
</head>
<body>
    <!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- End Page Loading -->
    <!-- START MAIN -->
    <div id="main">
        <!-- START WRAPPER -->
        <div class="wrapper">
            <!-- START LEFT SIDEBAR NAV-->
            <aside id="left-sidebar-nav">
                <!-- start header nav-->
                <div class="side-nav fixed">
                    <nav class="navbar-color">
                        <div class="nav-wrapper nav-small">
                            <h1 class="logo-wrapper"><a href="homt/index.html" class="brand-logo darken-1"><img src="/content/images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1>
                        </div>
                    </nav>
                </div>
                <!-- end header nav-->
                <ul id="slide-out" class="side-nav fixed leftside-navigation">
                    <li class="user-details cyan darken-2">
                        <div class="row">
                            <div class="col col s4 m4 l4">
                                <img src="/content/images/avatar.jpg" alt="" class="circle responsive-img valign profile-image">
                            </div>
                            <div class="col col s8 m8 l8">
                                <ul id="profile-dropdown" class="dropdown-content">
                                    <li>
                                        <a href="#"><i class="mdi-action-face-unlock"></i> 个人信息</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="mdi-action-settings"></i> 设置</a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a href="#"><i class="mdi-hardware-keyboard-tab"></i> 注销</a>
                                    </li>
                                </ul>
                                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn" href="#" data-activates="profile-dropdown">管理员<i class="mdi-navigation-arrow-drop-down right"></i></a>
                                <p class="user-roal">系统管理员</p>
                            </div>
                        </div>
                    </li>
                    <li class="bold">
                        <a href="/" class="waves-effect waves-cyan"><i class="mdi-action-dashboard"></i> 首页</a>
                    </li>
                    <li class="no-padding">
                        <ul class="collapsible collapsible-accordion">
                            <li class="bold active">
                                <a class="collapsible-header waves-effect waves-cyan active"><i class="mdi-action-settings"></i> 系统管理</a>
                                <div class="collapsible-body">
                                    <ul>
                                        <li class="active">
                                            <a href="/sys/menu"><i class="mdi-navigation-menu"></i> 菜单管理</a>
                                        </li>
                                        <li>
                                            <a href="/sys/role"><i class="mdi-social-group"></i> 角色管理</a>
                                        </li>
                                        <li>
                                            <a href="/sys/user"><i class="mdi-social-person"></i> 用户管理</a>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="li-hover"><div class="divider"></div></li>
                </ul>
                <a href="#" data-activates="slide-out" class="sidebar-collapse btn-floating btn-medium waves-effect waves-light hide-on-large-only cyan"><i class="mdi-navigation-menu"></i></a>
            </aside>
            <!-- END LEFT SIDEBAR NAV-->
            <!-- START CONTENT -->
            <section id="content">
                <!--breadcrumbs start-->
                <div id="breadcrumbs-wrapper">
                    <!-- Search for small screen -->
                    <div class="header-search-wrapper grey hide-on-large-only">
                        <i class="mdi-action-search active"></i>
                        <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col s12 m12 l12">
                                <h5 class="breadcrumbs-title">菜单管理</h5>
                                <ol class="breadcrumbs">
                                    <li>
                                        <a href="index.html">首页</a>
                                    </li>
                                    <li>
                                        <a href="#">系统管理</a>
                                    </li>
                                    <li class="active">菜单管理</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!--breadcrumbs end-->
                <!--start container-->
                <div class="container">
                    <div class="section">
                        <div class="row">
                            <form class="col s12 query_form">
                                <div class="row">
                                    <div class="input-field col s3">
                                        <select name="ParentId">
                                            <option disabled selected>所有菜单</option>
                                        </select>
                                    </div>
                                    <div class="input-field col s3">
                                        <input name="Name" type="text" class="validate">
                                        <label for="icon_prefix3" class="">菜单名称</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <button class="btn cyan waves-effect waves-light left query_btn" type="button" name="action">
                                            <i class="mdi-action-search"></i> 查询
                                        </button>
                                        <button class="btn teal waves-effect waves-light right edit_btn" type="button" name="action">
                                            <i class="mdi-content-add"></i> 新增
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="col s12">
                                <table class="responsive-table hoverable centered  striped table-data">

                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end container-->
            </section>
            <!-- END CONTENT -->
        </div>
        <!-- END WRAPPER -->
    </div>
    <!--[if lt IE 9]>
    <script src="../../content/js/lib/respond.min.js"></script>
    <script src="../../content/js/lib/excanvas.js"></script>
        <![endif]-->
    <script src="../../content/js/lib/sea.js"></script>
    <script src="../../content/js/common.js"></script>
    <script>
        var menu=seajs.use('js/app/menu.js');
    </script>
</body>
</html>
